<!DOCTYPE html>
<html>
<head>
	<title>Profile</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/fonawesome.min.css"> <!-- load fontawesome -->
  <style>
      body        { padding-top:80px; }
  </style>
</head>
<body>
	<div class="container">
	
	<h1>Profile</h1>
	<div class="row">
	<div class="col-sm-">
	<% if (user) { %>
		<%= user.username %>
	<% }%>
	</div>
	</div>
	</div>
</body>
</html>