<!DOCTYPE html>
<html>
<head>
	<title>New post</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<link href="//d2c5utp5fpfikz.cloudfront.net/3_1_1/css/bootstrap.min.css" rel="stylesheet">
	<link href="//d2c5utp5fpfikz.cloudfront.net/3_1_1/css/bootstrap.css.map" rel="stylesheet">
	<link href="//d2c5utp5fpfikz.cloudfront.net/3_1_1/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="//d2c5utp5fpfikz.cloudfront.net/3_1_1/css/bootstrap-theme.css.map" rel="stylesheet">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="//d2c5utp5fpfikz.cloudfront.net/3_1_1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item" href="/">Home</a>
          <a class="blog-nav-item active" href="/posts/new">New Post</a>
        </nav>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 blog-main">
					<h1>Add a new post</h1>
					<p><form method="POST" action="/posts">
						<p><input type="text" name="name" placeholder="Title"></p>
						<p><textarea rows="4" cols="50" name="entry" placeholder="Entry Content"></textarea></p>
						<input type="submit">
					</form></p>
					<p><a href="/posts">Back</a></p>
				</div> <!-- blog-main -->
			</div> <!-- row -->
		</div> <!-- container -->
</body>
</html>