<!DOCTYPE html>
<html>
<head>
	<title>New post</title>
</head>
<body>
	<h1>Add a new post</h1>
	<form method="POST" action="/posts">
		<p><input type="text" name="name" placeholder="Title"></p>
		<p><textarea rows="4" cols="50" name="entry" placeholder="Entry Content"></textarea></p>
		<input type="submit">
	</form>	
	<p><a href="/posts">Back</a></p>
</body>
</html>